/* UNIVERSAL STYLES */

*{
  padding: 0;
  margin: 0;
}

html{
  font-size: 18pt;
  font-family: Helvetica, sans-serif;
}

.page-width{
  width: 960px;
  margin: 0 auto;
}

/* FONT STYLES */

h2{
  font-size: 2rem;
}

h4{
  font-size: 1rem;
}

/* HEADER */
header{
  width: 100%;
  background-color: black;
  font-size: 1rem;
  color: white;
}

header .page-width{
  display: flex;
  justify-content: flex-start;
}

header .title{
  padding: .66rem;
}

header .logo{
  height: 1.5rem;
  margin: auto 1rem auto 0.5rem;
}

/* SPOTLIGHT */
#spotlight{
  width: 100%;
  height: 25rem;
  background-image: url(./img/moto.jpeg);
  background-size: cover;
  background-position: center;
}

#spotlight .page-width{
  display: flex;
  justify-content: flex-start;
}

#spotlight #spotlight-content{
  width: 20rem;
  padding: 2rem 3rem;
  margin-top: 9rem;
  background-color: black;
  color: white;
}

#spotlight #spotlight-content h2{
  font-weight: bold;
}

#spotlight #spotlight-content h4{
  font-weight: bold;
  margin-bottom: 0.25rem;
}

/* NAVIGATION */
nav{
  width: 100%;
  background-color: firebrick;
}

nav .page-width{
  display: flex;
  justify-content: space-between;
  padding: 0.75rem 0;
}

nav a{
  text-decoration: none;
  color: white;
}

/* FEATURED PRODUCTS */
#featured-products{
  width: 100%;
}

#featured-products .page-width{
  display: flex;
  justify-content: space-between;
  padding-top: 3rem;
}

#featured-products .item{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
  border: 4px solid black;
}

#featured-products .item .thumbnail{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 9rem;
  width: 100%;
  padding: 2rem 0;
}

#featured-products img.portrait{
  height: 100%;
}

#featured-products img.landscape{
  width: 100%;
}

#featured-products h4{
  width: 100%;
  text-align: center;
  padding: 0.5rem 0;
  background-color: black;
  color: white;
}
